<div class="row" style="padding-top: 10%;">
    <div class="col-xl-12">
        <div class="selling-active">






            {{#each products}}

            <div class="properties pb-20">
                <div class="properties-card">
                    <div class="properties-img">
                        <a href="/view-single/{{this._id}}"><img src="/product-images/{{this.product._id}}.jpg"
                                style="height: 16rem;" alt="" /></a>
                    </div>
                    <div class="properties-caption">
                        <h5><a href="/view-single/{{this._id}}">{{this.product.bookname}}</a></h5>
                        <p>{{this.authorname}}</p>
                        <div class="properties-footer d-flex justify-content-between align-items-center">
                            <div class="review">


                                <div class="price">
                                    <span>Rs.{{this.product.price}}</span>
                                </div>



                            </div>



                        </div>



                    </div>

                </div>

            </div>

            {{/each}}

        </div>
    </div>
</div>